@tailwind base;
@tailwind components;
@tailwind utilities;

/* Simple global styles */
html, body, #__next { height: 100%; }
body { font-family: Inter, ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial; }
.bg-primary { background-color: theme('colors.primary'); }
